* {
  box-sizing: border-box;
}
.character-page{
height: 100vh;
}

body {
  margin: 0%;
  background-image: url('../image/background-for-game.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Pacifico', cursive;
}

h1 {
  margin-top: -12%;
  text-align: center;
  font-size: 100px;
  color: rgb(204, 137, 13);
  text-shadow: 7px 4px black;
}

.back {
  width: 5%;
  display: inline-block;
  float: right;
  opacity: 0.5;
}

.logo {
  margin-top: -7%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}

.character_photos {
  display: flex;
  height: 65%;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  opacity: 0.5;
  margin-top: -2%;
  height: 300px;
}

header {
margin: 0;
}

.choose_your_hero {
  margin: 0;
}

#hero1:hover {
  scale: 1.1;
  opacity: 1;
  cursor: pointer;
}

#hero2:hover {
  scale: 1.1;
  opacity: 1;
  cursor: pointer;
}

#hero3:hover {
  scale: 1.1;
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 1485px) {
  .logo {
    margin-left: 35%;
    margin-right: 35%;
    width: 25%;
  }
}

@media only screen and (max-width: 1273px) {
  .logo {
    margin-left: 31%;
    margin-right: 31%;
    width: 25%;
  }
}

@media only screen and (max-width: 1085px) {
  .logo {
    margin-left: 29%;
    margin-right: 29%;
    width: 29%;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    margin-left: 30%;
    margin-right: 30%;
    width: 25%;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    width: 10%;
  }

  .back {
    width: 10%;
  }

  h1 {
    margin-top: -30%;
    font-size: 80px;
  }

  .hero {
    width: 40%;
    margin-left: 32%;
  }

  #hero1:hover {
    width: 35%;
    opacity: 1;
  }

  #hero2:hover {
    width: 35%;
    opacity: 1;
  }

  #hero3:hover {
    width: 33%;
    opacity: 1;
  }

  .character_photos {
    flex-direction: column-reverse;
  }

  .logo {
    display: none;
  }
}
