body {
  background-image: url('../image/background-for-game.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Pacifico', cursive;
}

.home {
  width: 5%;
  margin-left: 90%;
  opacity: 0.5;
}

.back {
  width: 5%;
  display: inline-block;
  float: right;
  opacity: 0.5;
}

.levels-of-instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.header-title {
  margin-top: -5%;
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 100px;
  color: rgb(204, 137, 13);
}

.one-explanation {
  grid-column: 1/2;
  grid-row: 2/3;
}

.another-explanation {
  grid-column: 2/3;
  grid-row: 2/3;
}

.last-explanation {
  grid-column: 1/3;
  grid-row: 4/5;
}

#explanation1 {
  margin-top: -33%;
  margin-left: 2%;
}

#explanation2 {
  margin-top: -40%;
  margin-left: -12%;
}

#explanation3 {
  margin-top: 12%;
  margin-bottom: 1%;
  margin-left: 39%;
}

.game-keys {
  border: 3px solid black;
}

#arrow-left {
  width: 6%;
  margin-left: 40%;
}

#arrow-right {
  width: 6.18%;
}

#arrow-up {
  width: 6%;
}

p {
  margin-left: 10%;
  font-size: 30px;
  text-shadow: 2px 2px rgb(204, 137, 13);
}

.img-for-instructions-levels {
  width: 40%;
  border: 3px solid black;
  padding: 1px;
  display: block;
  margin-left: 30%;
  margin-top: -0.5%;
}

.arrow {
  width: 6%;
  margin-left: 22%;
  margin-top: 3%;
}

#arrow-for-explanation2 {
  margin-left: 44%;
}

#arrow-for-explanation1 {
  margin-left: 38%;
}

@media screen and (max-width: 1394px) {
  .header-title {
    font-size: 85px;
  }

  p {
    font-size: 25px;
  }

  #arrow {
    width: 5.5%;
    margin-left: 21.2%;
  }
}

@media screen and (max-width: 1208px) {
  .header-title {
    font-size: 75px;
  }

  p {
    font-size: 20px;
  }

  #arrow {
    width: 5%;
    margin-left: 20.8%;
  }
}

@media screen and (max-width: 990px) {
  .header-title {
    font-size: 80px;
  }

  p {
    font-size: 16px;
  }

  #arrow {
    width: 4.8%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 798px) {
  .header-title {
    font-size: 75px;
  }

  p {
    font-size: 11px;
  }

  #arrow {
    width: 4.5%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 565px) {
  .header-title {
    font-size: 70px;
  }

  p {
    font-size: 8px;
  }

  #arrow {
    width: 4%;
    margin-left: 19.7%;
  }
}
